<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>001101</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<style>
    body {
        background-image: url("https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_light.jpg?raw=true");

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

        /* ges Hoehe der Seite -> weitere Hoehenangaben werden relativ hierzu ausgewertet */
        overflow: hidden;
        /*  hide scrollbars */
        opacity: 1.0;
        -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        transition: background 0.5s linear;
        font-family: 'Sunflower', sans-serif;

    }

    a {
        text-decoration: none;
        color: rgb(56, 56, 56);

    }

    a:hover {
        color: #4a7846;
    }

    .login_div {
        display: none;
        ;
        position: absolute;
    }

    .display {
        display: block;
    }

    .register_div {
        display: none;
        position: absolute;
    }

    #timedate {
        font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        text-align: left;
        width: 50%;
        margin: 40px auto;
        color: rgb(73, 73, 73);

        padding: 20px;
    }

    .wrapper {

        float: left;
        text-align: center;
        position: absolute;
        margin-left: 34vw;
        margin-top: -11vw;
        font-size: 2vw;

    }


    #seconds,
    #tens {
        font-size: 2em;
    }

    .menutable {
        font-size: 1.1vw;
        margin-left: 2vw;
        margin-top: 1vw;
    }

    .raddiv {
        width: 20vw;
        height: 1vw;
        background-color: #ebebeb;


    }

    .raddivin {
        height: 100%;
        width: 0%;
        background-color: #388e3c;
    }
</style>

<body onload="initClock()">

    <div id="timedate" style="margin-left: 1vw;margin-top: 10vw;">
        <a id="y">0</a><a>년</a>
        <a id="mon">1</a>
        <a id="d">1</a><a>일</a>
        <br />
        <a id="h">12</a>시
        <a id="m">00</a>분
        <a id="s">00</a>초
    </div>
    <div class="menutable">
        <a>과목 명 : &nbsp;&nbsp;&nbsp; <%=result.title%></a><br><br>
        <a>목표 과제 : &nbsp;&nbsp;&nbsp; <%=result.note%></a><br><br>
        <a>공부할 시간 : &nbsp;&nbsp;&nbsp; <%=result.studyTime%> 시간</a><br><br>
        <a>진행도(퍼센트) : &nbsp;&nbsp;</a><a id="pers">00</a>
        <div class="raddiv">
            <div class="raddivin">

            </div>
        </div>
    </div>


    <div class="wrapper">

        <p><span id="seconds">00</span>:<span id="tens">00</span></p>
        <button id="button-start" class="btn btn-dark-green btn-sm">시작</button>
        <button id="button-stop" class="btn btn-dark-green btn-sm">정지</button>
        <button id="button-reset" class="btn btn-dark-green btn-sm">초기화</button>
        <button id="button-register" class="btn btn-dark-green btn-sm">등록</button>
    </div>

    <div class="dropdown">

        <!--Trigger-->
        <button class="btn dropdown-toggle btn-link" type="button" id="dropdownMenu1" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="margin-left: 0.1vw;margin-top: 0.5vw;">설정</button>


        <!--Menu-->
        <div class="dropdown-menu " style="margin-left: 1vw;">
            <a class="dropdown-item" href="http://localhost:3000/api/user/mypage?email=<%=user.email%>"
                style="font-size:0.8vw;">이전 페이지로 돌아가기</a>

            <a class="dropdown-item" id="delete" href="#" style="font-size:0.8vw;color:red">과목 삭제하기</a>

        </div>
    </div>

    <div class="custom-control custom-switch animated fadeIn"
        style="position:absolute; margin-top: 7vw;margin-left: 2vw;">
        <input type="checkbox" class="custom-control-input" id="customSwitches" />
        <label class="custom-control-label" for="customSwitches">다크모드</label>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="mod" tabindex="-1" role="dialog" data-backdrop="false"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="overflow: hidden;">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">등록 완료!</h5>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-dark-green btn-block" data-dismiss="modal"
                        onClick="history.go(0);">페이지 리로드</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" style="overflow: hidden;">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">삭제합니까?</h5>

                </div>

                <div class="modal-footer">
                    <button type="button" id="deletebt" class="btn btn-primary btn-red btn-block"
                        data-dismiss="modal">삭제하기</button>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
    <script>
        var flag = true;

        $(function () {

            console.log(parseFloat('<%=result.studiedTime %>'));
            console.log(parseFloat('<%=result.studyTime %>') * 3600);
            console.log(parseFloat(('<%=result.studiedTime %>') / (parseFloat('<%=result.studyTime %>') * 3600)) * 100)
            var get = parseFloat(('<%=result.studiedTime %>') / (parseFloat('<%=result.studyTime %>') * 3600)) * 100;
            $(".raddivin").css({ "width": get + "%" });
            $("#pers").html(get.toFixed(2));

            // / (parseFloat('<%=result.studyTime%>')*60*60)) * 100
            $("#customSwitches").click(function () {
                if (flag == true) {
                    console.log(true);
                    $(document.body).css('background-image', "url(https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_dark.jpg?raw=true)");
                    flag = false;
                }
                else {
                    console.log(false);
                    $(document.body).css('background-image', "url(https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_light.jpg?raw=true)");
                    flag = true;
                }

            })


        });

        Number.prototype.pad = function (n) {
            for (var r = this.toString(); r.length < n; r = 0 + r);
            return r;
        };

        function updateClock() {
            var now = new Date();
            var
                sec = now.getSeconds(),
                min = now.getMinutes(),
                hou = now.getHours(),
                mo = now.getMonth(),
                dy = now.getDate(),
                yr = now.getFullYear();
            var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
            var tags = ["mon", "d", "y", "h", "m", "s"],
                corr = [months[mo], dy, yr, hou.pad(2), min.pad(2), sec.pad(2)];
            for (var i = 0; i < tags.length; i++)
                document.getElementById(tags[i]).firstChild.nodeValue = corr[i];
        }

        function initClock() {
            updateClock();
            window.setInterval("updateClock()", 1);

        }


        $(function () {
            var seconds = 00;
            var tens = 00;
            var appendTens = $("#tens")
            var appendSeconds = $("#seconds")
            var buttonStart = $('#button-start');
            var buttonStop = $('#button-stop');
            var buttonReset = $('#button-reset');
            var Interval;

            $("#button-start").on('click', () => {

                clearInterval(Interval);
                Interval = setInterval(startTimer, 10);
            });

            $("#button-stop").on('click', () => {
                console.log($("#seconds").text());
                clearInterval(Interval);

            });

            $("#button-reset").on('click', () => {
                clearInterval(Interval);
                tens = "00";
                seconds = "00";
                $("#tens").html(tens);
                $("#seconds").html(seconds);
            });

            var checksum_re = 0;
            var time = 0;
            $("#button-register").on('click', () => {
                time = $("#seconds").text();
                console.log("시간 설정");
                $.ajax({
                    url: "/api/subject/settime",
                    type: "put",
                    data: { time, id: "<%=result._id%>" ,studytime: "<%=result.studyTime%>"}
                }).done(() => {
                    $('#mod').modal();

                    //console.log("<%=result.studiedTime%>");

                })
                    .fail((request, status, error) => {
                        alert(request.responseText);
                    });
            });
            $("#delete").on('click', () => {
                $('#del').modal();
            });
            $("#deletebt").on('click', () => {
                console.log("delete");
                $.ajax({
                    url: "/api/subject/remove/<%=result._id%>",
                    type: "delete"
                }).done(() => {
                    location.href = "/api/user/mypage?email=" + "<%= user.email%>";
                }).fail((requst, status, error) => {
                    alert(requst.responseText);
                });
            });





            function startTimer() {
                tens++;

                if (tens < 9) {
                    $("#tens").html("0" + tens);

                }

                if (tens > 9) {
                    $("#tens").html(tens);

                }

                if (tens > 99) {

                    seconds++;
                    $("#seconds").html("0" + seconds);
                    tens = 0;
                    $("#tens").html("0" + 0);
                }

                if (seconds > 9) {
                    $("#seconds").html(seconds);
                }

            }


        });
    </script>
</body>

</html>