<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>001101</title>
    <!-- MDB icon -->
    <link rel="icon" href="img/mdb-favicon.ico" type="image/x-icon" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/css/mdb.min.css" rel="stylesheet"
        type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascr 
    src=" https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.0/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
<style>
    body {
        background-image: url("https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_light_nope.jpg?raw=true");

        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        /* ges Hoehe der Seite -> weitere Hoehenangaben werden relativ hierzu ausgewertet */

        /*  hide scrollbars */
        opacity: 1.0;
        -webkit-transition: background 0.5s linear;
        -moz-transition: background 0.5s linear;
        -o-transition: background 0.5s linear;
        -ms-transition: background 0.5s linear;
        transition: background 0.5s linear;
        font-family: 'Sunflower', sans-serif;
        background-attachment: fixed;
    }

    a {
        text-decoration: none;
        color: rgb(56, 56, 56);

    }

    a:hover {
        color: #4a7846;
    }

    .login_div {
        display: none;
        ;
        position: absolute;
    }

    .display {
        display: block;
    }

    .register_div {
        display: none;
        position: absolute;
    }

    #timedate {
        font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
        text-align: left;
        width: 50%;
        margin: 40px auto;
        color: rgb(56, 56, 56);

        padding: 20px;
    }

    .wrapper {
        width: 800px;
        margin: 30px auto;

        text-align: center;
    }


    #seconds,
    #tens {
        font-size: 2em;
    }

    .wdth {
        width: 0%;
    }
</style>

<body onload="initClock()">




    <div id="timedate" style="margin-left: 1vw;margin-top: 1vw;margin-bottom: 3vw;">
        <a id="y">0</a><a>년</a>
        <a id="mon">1</a>
        <a id="d">1</a><a>일</a>
        <br />
        <a id="h">12</a>시
        <a id="m">00</a>분
        <a id="s">00</a>초
    </div>
    <div class="custom-control custom-switch animated fadeIn" style="position:absolute; margin-top: -3vw;">
        <c style="margin-right: 3vw;">반갑습니다 <%= user.name %>님!</c>

        <input type="checkbox" class="custom-control-input" id="customSwitches" />
        <label class="custom-control-label" for="customSwitches">다크모드</label>
    </div>
    <div class="custom-control custom-switch animated fadeIn" style="position:absolute; margin-top: -1.3vw;">
        <a id="logout" style="color: rgb(56, 56, 56);">로그아웃하기</a>
    </div>
    <div style="width: 8%;height: 8%;position: absolute;margin-top: -11vw;margin-left: 19vw;">
        <canvas id="doughnut-chart" width="10%" height="10%"></canvas>

    </div>
    <div style="position: absolute;margin-left: 18.79vw;margin-top: -7.9vw;">
        <a id="percent_text" style="font-size:1.7vw; margin-left:2vw;">00</a><a style="font-size:0.9vw">퍼센트</a>
    </div>

    <div style="position: absolute;margin-left: 26.79vw;margin-top: -9.9vw;">
        <a style="font-size:1.1vw;">하루 동안 나의 공부량</a>
    </div>

    <div>

    </div>



    <div class="row row-cols-1 row-cols-md-3" style="margin-left:1vh;margin-right:1vh;margin-top: 4vw;">
        <% var full_time = 0%>
        <% result.forEach(subject => { %>
        <% var t = parseFloat(subject.percent); %>
        <% full_time = parseFloat(full_time) + parseFloat(subject.studiedTime)%>

        <div class="col mb-4">
            <div class="card h-100" style="background-color:rgba(229,224,225,0.3);">
                <!--Card image-->


                <!--Card content-->
                <div class="card-body" style="background-color:rgba(229,224,225,0.3);">

                    <!--Title-->
                    
                    <% if(subject.success == true) { %>
                        <h4 class="card-title" style="color: rgb(56, 56, 56);"><%= subject.title %> - 공부완료</h4>    
                    <%}else{%>
                        <h4 class="card-title" style="color: rgb(56, 56, 56);"><%= subject.title %></h4>    
                    <%}%>

                    <!--Text-->
                    <p class="card-text" style="color: rgb(56, 56, 56);">공부할 목표시간 :
                        <%= subject.studyTime%>&nbsp;시간&nbsp;&nbsp;&nbsp;&nbsp; 과제 :
                        <%=subject.note%></p>


                    <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
                    <button type="button" class="btn btn-dark-green btn-sm" style="margin-top:0%" ;
                        onclick="location.href='/api/subject/<%=subject._id%>'">학습하기</button>

                    <div
                        style="width:80%;height: 27%;background-color: #dadada;float: right;margin-left: 0;border-radius: 3px;">
                        <div style="height: 100%;background-color: #388e3c; ;width:<%=t%>%">

                        </div>
                    </div>
                </div>

            </div>
            <!-- Card -->
        </div>

        <% }) %>




    </div>

    <!--<button type="button" class="btn btn-yellow" style="margin-left: 3vh;"
        onclick="location.href='/api/subject/new'">등록</button>
    -->
    <button type="button" class="btn btn-dark-green btn-md" data-toggle="modal" data-target="#exampleModalCenter"
        style="margin-left: 3vh;">등록</button>
    <button type="button" class="btn btn-dark-green btn-md" data-toggle="modal" data-target="#finishmodal"
        style="margin-left: 1vh;">하루 끝내기</button>

    <button type="button" id="remindbtn" class="btn btn-dark-green btn-md" style="margin-left: 1vh;">나를 돌아보기</button>



    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" data-backdrop="false"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">새로운 등록!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <div style="margin-top: -1vw;;">
                            <div class="md-form">
                                <input type="text" id="title" class="form-control" required />
                                <label for="과목명">과목명</label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="studytime" class="form-control" required />
                                <label for="공부할 시간">공부할 시간(h)</label>
                            </div>

                            <div class="md-form">
                                <input type="text" id="note" class="form-control" required />
                                <label for="공부할 내용">공부할 내용</label>
                            </div>
                            <button type="submit" class="btn btn-dark-green btn-md" style="width:96%;font-size:0.8vw">
                                저장
                            </button>
                        </div>
                    </form>
                </div>


            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
    </div>

    <div class="modal fade" id="log" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" style="overflow: hidden;">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">로그아웃할까요?</h5>

                </div>

                <div class="modal-footer">
                    <button type="button" id="logoutbtn" class="btn btn-primary btn-dark-green btn-block"
                        data-dismiss="modal">로그아웃</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="finishmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" data-backdrop="false" style="overflow: hidden;">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" id="exampleModalLongTitle">오늘 공부를 마감하겠습니까?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-dark-green btn-block" data-dismiss="modal"
                        data-toggle="modal" data-target="#submitmodal">하루 끝내기</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="submitmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true" style="overflow: hidden;">

        <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
        <div class="modal-dialog modal-dialog-centered" role="document">


            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">하루 정리</h5>
                </div>
                <div class="modal-body">
                    <form id="submitForm"">
                        <div style=" margin-top: -1vw;;">
                        <div class="md-form" style="width:45%;float:left">
                            <input type="text" id="month" class="form-control" required />
                            <label for="월">월</label>

                        </div>
                        <div class="md-form" style="width:45%;float:right;margin-right:2vw">
                            <input type="text" id="day" class="form-control" required />
                            <label for="월">일</label>

                        </div>

                        <div class="md-form" style="width:92%;float:left;margin-top:-1vw">
                            <input type="text" id="memo" class="form-control" required />
                            <label for="한줄 메모">한줄 메모</label>

                        </div>

                        <div>
                            <button type="submit" class="btn btn-primary btn-dark-green btn-block">수고하셨습니다</button>
                        </div>
                    </form>

                </div>

            </div>


        </div>
    </div>
    </div>
    <script>

        $(function () {

            $("#createForm").submit((event) => {
                event.preventDefault();
                const title = $("#title").val();
                const studytime = $("#studytime").val();
                const note = $("#note").val();
                const name = "<%= user.email%>";

                console.log(title, studytime, note, name);

                $.ajax({
                    url: "/api/subject",
                    type: "post",
                    data: { title, studytime, note, name },
                })
                    .done(() => {
                        location.href = "/api/user/mypage?email=" + "<%= user.email%>";
                    })
                    .fail((requst, status, error) => {
                        alert(requst.responseText);
                    });
            });
            $("#submitForm").submit((event) => {
                event.preventDefault();
                const month = $("#month").val();
                const day = $("#day").val();
                const memo = $("#memo").val();
                const name = "<%= user.email%>";
                const send_time = parseFloat("<%= full_time%>");
                console.log(month, day, memo, name, send_time);

                $.ajax({
                    url: "/api/day",
                    type: "post",
                    data: { month, day, memo, name, send_time },
                })
                    .done(() => {
                        $.ajax({
                            url: "/api/subject/clear/<%=user.email%>",
                            type: "delete"
                        }).done(() => {
                            location.href="/api/user/logout";
                        }).fail((requst, status, error) => {
                            alert(requst.responseText);
                        });



                    })
                    .fail((requst, status, error) => {
                        alert(requst.responseText);
                    });

            });


        });

        var flag = true;


        $("#customSwitches").click(function () {
            if (flag == true) {
                console.log(true);
                $(document.body).css('background-image', "url(https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_dark_nope.jpg?raw=true)");
                flag = false;
                $("#doughnut-chart").css("opacity", "0.4");
            }
            else {
                console.log(false);
                $(document.body).css('background-image', "url(https://github.com/kwonbosung02/webPlanner/blob/master/myapp/views/background_light_nope.jpg?raw=true)");
                flag = true;
                $("#doughnut-chart").css("opacity", "1");
            }
        });
        $("#logout").click(function () {
            console.log("clicked")
            $("#log").modal();
        })
        $("#logoutbtn").click(function () {
            location.href = "/api/user/logout";
        })
        $(("#remindbtn")).click(function () {
            location.href = "/api/day?email=" + "<%= user.email%>"
        })
        Number.prototype.pad = function (n) {
            for (var r = this.toString(); r.length < n; r = 0 + r);
            return r;
        };

        function updateClock() {
            var now = new Date();
            var
                sec = now.getSeconds(),
                min = now.getMinutes(),
                hou = now.getHours(),
                mo = now.getMonth(),
                dy = now.getDate(),
                yr = now.getFullYear();
            var months = ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"];
            var tags = ["mon", "d", "y", "h", "m", "s"],
                corr = [months[mo], dy, yr, hou.pad(2), min.pad(2), sec.pad(2)];
            for (var i = 0; i < tags.length; i++)
                document.getElementById(tags[i]).firstChild.nodeValue = corr[i];
        }

        function initClock() {
            updateClock();
            window.setInterval("updateClock()", 1);
        }

        $(function () {
            $("#percent_text").html(((parseFloat("<%= full_time%>") / 86400) * 100).toFixed(0));
        });


        new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',

            options: {
                tooltips: { enabled: false, },
                hover: { mode: null },
                cutoutPercentage: 65,

            },
            data: {

                datasets: [
                    {

                        backgroundColor: ["rgb(56,142,60)", "rgb(218,218,218)"],
                        data: [parseFloat("<%= full_time%>"), 86400 - parseFloat("<%= full_time%>")],

                    }
                ]
            }

        });


    </script>
</body>

</html>